PORT=4000
MONGODB_URI=mongodb+srv://bale:testbale@cluster0.jfbllbf.mongodb.net/?appName=Cluster0
NODE_ENV=development
SHELL_APP_URL=http://localhost:5173
MFE_TASKS_URL=http://localhost:5001
MFE_DASHBOARD_URL=http://localhost:5002